body {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/blue-brick-road-chelsea-stockton.jpg);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background-color: grey;
}

